
@{
    ViewBag.Title = "Test2";
    
}

<h2 class="text-center my-4">Test2</h2>
<div class="d-flex justify-content-center">
    <button class="btn btn-primary mx-2" id="PrintLableBtn">PRINT TEXT</button>
    <button class="btn btn-primary mx-2" id="BoldLableBtn">BOLD</button>
    <button class="btn btn-primary mx-2" id="ItalicLableBtn">ITALIC</button>
    <button class="btn btn-primary mx-2" id="UnderlineLableBtn">UNDERLINE</button>
    <button class="btn btn-outline-secondary mx-2" id="LableResetBtn">RESET</button>
</div>
<label id="TestLable" class="mt-4 d-flex justify-content-center fs-5"></label>

@section scripts{
    <script>
        var lableElement = document.getElementById("TestLable");

        var btns = document.getElementsByTagName("button");
        Array.from(btns).forEach((btn) => {
            btn.addEventListener("click", (e) => {
                switch (e.target.id) {
                    case "PrintLableBtn":
                        lableElement.textContent = "Hello World!";
                        break;
                    case "BoldLableBtn":
                        lableElement.classList.add("BoldLableBtn");
                        break;
                    case "ItalicLableBtn":
                        lableElement.classList.add("ItalicLableBtn");
                        break;
                    case "UnderlineLableBtn":
                        lableElement.classList.add("UnderlineLableBtn");
                        break;
                    case "LableResetBtn":
                        lableElement.classList.remove("BoldLableBtn","UnderlineLableBtn","ItalicLableBtn");
                        break;
                }
            })
        })</script>
}


